 <div class="container">
    <partial name="Partial/_Message" />
    <div class="row justify-content-center align-items-center text-center" style="height:50vh;">
        <div class="col-6 position-absolute">
            <h1 class="fw-bold">Welcome to Gamesoft</h1>
            <center><hr width="35%" /></center>
            <p class="fw-bold">Explore our Universe and Track Game Development in Real Time!</p>
            <a class="fw-bold" style="color: rgb(23, 137, 125);" asp-area="" asp-controller="Products" asp-action="Store">SHOW MORE -></a>
        </div>
    </div>
</div>
