<div class="container p-5">
    <div class="row text-dark">
        <h1 class="p-3 text-center">@ViewData["Title"]</h1>
        
        <p class="pt-4">Last updated: 02/02/2024</p>
        
        <p class="pt-2">
            Thank you for visiting Gamesoft. The privacy of our visitors is important to us. This
            privacy policy outlines the types of personally identifiable information collected and
            recorded by Gamesoft and how we use it.
        </p>

        <h3 class="pt-4">Personal Information Collected</h3>
        
        <p class="pt-2">
            We collect personally identifiable information, such as your name, email address, etc.,
            only when voluntarily provided by you, for example, when you subscribe to our
            newsletter, fill out a contact form, or participate in a survey.
        </p>
        
        <h3 class="pt-4">Cookies</h3>
        <p class="pt-2">
            Gamesoft uses cookies to enhance user experience by tracking preferences and
            providing personalized content. You can configure your browser to refuse all cookies or
            to indicate when a cookie is being sent. Please refer to our Cookie Policy for more
            information.
        </p>
        <h3 class="pt-4">Use of Information</h3>

        <p class="pt-2">
            The information we collect may be used to personalize your experience on the site,
            improve our content and services, and contact you based on a specific request.
            Disclosure to Third Parties
            We do not sell, trade, or transfer your personally identifiable information to third parties
            without your explicit consent. This does not include trusted third parties who assist us
            in operating our website or conducting our business, provided they agree to keep this
            information confidential.
        </p>

        <h3 class="pt-4">External Links</h3>
        
        <p class="pt-2">
            Our site may contain links to other websites. Please note that we have no control over
            the content and practices of these sites and we disclaim any responsibility for their
            privacy policies.
        </p>
        
        <h3 class="pt-4">Security</h3>
        
        <p class="pt-2">
            We are committed to protecting your information. However, no data transmission over
            the internet is guaranteed to be 100% secure. While we strive to protect your personal
            information, we cannot ensure its absolute security.
        </p>
        
        <h3 class="pt-4">Changes to Privacy Policy</h3>
        
        <p class="pt-2">
            We reserve the right to update or modify our privacy policy at any time. Any changes to
            this policy will be posted on this page.
            By using our site, you consent to our privacy policy.
            If you have any questions regarding this privacy policy, please contact us at
            <a href="contactGamesoft@gmail.com">contactGamesoft@gmail.com</a>.
        </p>
    </div>
</div>

