@using Gamesoft.ViewModels
@model ForgetPasswordViewModel

<h2 class="text-center">Forget Password</h2>
<center><hr width="25%" /></center>
<br />
<div class="container p-1 my-1 d-flex align-items-center justify-content-center">
    <partial name="Partial/_Message" />
    <div class="col-md-4">
        <form method="post" asp-controller="Accounts" asp-action="ForgetPassword">
            <div class="form-group">
                <label asp-for="Email" class="required">Email</label>
                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Send email</button>
            </div>
        </form>
    </div>
</div>
